body {
    background-color: #000;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #04d3f7;
    margin: 0px;
    padding: 0;
    height: 100px;
}

header.container {
    margin: 0;
    padding: 0;
}

header img {
    width: 100px;

}

.connexion {
    font-size: 50px;
    /* Ajuste la taille de la police */
    color: #de78aa;
    /* Change la couleur (exemple en noir) */
    text-decoration: none;
    /* Enlève le soulignement */
    margin-left: 10px;
    /* Espace entre l'image et le lien */

}

/* Ajoute un effet au survol */
.connexion:hover {
    color: #000000; 
    /* Change la couleur au survol */
}
.page-main{
    display : block;
    margin : auto;
    width : 80%;
    margin-top: 150px;

}
h2{
    color: #04d3f7;
    font-size: 80px;
}
h1{
    color: #04d3f7;
}

p{
    color: #de78aa;
}

.form-control{
    color: #000;

}

.form-label{
    color: #de78aa;

}


